@model IEnumerable<Warden.Models.StockMovementModel>

@{
    ViewData["Title"] = "Movimentações de Estoque";
}

<h1 class="mb-4">Movimentações de Estoque</h1>
<a asp-action="Create" class="btn btn-danger mb-3">+ Nova Movimentação</a>

<form asp-action="ExportToExcel" method="post" style="display:inline;">
    <button type="submit" class="btn btn-success mb-3">📥 Exportar para Excel</button>
</form>

<table class="table table-striped" id="table-contacts">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var rowClass = item.Type == Warden.Enums.MovementTypeEnum.Entrada ? "border-entrada" :
            item.Type == Warden.Enums.MovementTypeEnum.Saída ? "border-saida" : "";

            <tr class="@rowClass">
                <td>@item.Product?.Name</td>
                <td>@item.Type</td>
                <td>@item.Quantity</td>
                <td>@item.TotalValue.ToString("C")</td>
                <td>@item.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
        }

    </tbody>
</table>


<style>
    .border-saida {
        border-left: 5px solid green;
    }

    .border-entrada {
        border-left: 5px solid yellow;
    }
</style>
