@using Warden.Enums
@model UserModel
@{
    ViewData["Title"] = "Cadastrar Usuário";
}
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

<div class="container py-5" data-aos="fade-up">
    <h2 class="mb-4 text-success">➕ Cadastrar Novo Usuário</h2>

    <form asp-controller="User" asp-action="Create" method="post">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Digite o nome">
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail">
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label class="form-label">Login</label>
            <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login">
            @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label class="form-label">Perfil</label>
            <select asp-for="Profile" class="form-select">
                <option value="">Selecione</option>
                <option value="@ProfileEnum.Admin">Administrador</option>
                <option value="@ProfileEnum.User">Padrão</option>
            </select>
            @Html.ValidationMessageFor(x => x.Profile, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Digite a senha">
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
        </div>

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-success">💾 Cadastrar</button>
            <a asp-action="Index" asp-controller="User" class="btn btn-secondary">↩️ Voltar</a>
        </div>
    </form>
</div>
